.products-block {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.products-left {
    width: 20%;
    padding: 0 10px;
}

.products-left .product-category {
    margin-bottom: 30px;
}

.products-left .product-category li::first-letter {
    text-transform: uppercase;
}

.products-left .category-title {
    position: relative;
    font-size: 20px;
    color: #27272E;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 2px solid #CBD3D9;
    cursor: pointer;
}

.products-left .category-title::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #3577f0;
    bottom: -1px;
    left: 0;
    transition: .5s;
}

.products-left .category-title.active::after {
    width: 100%;
}

.category-list {
    /*display: none;*/
    transition: 0.3s ease-out;
}

.category-list.open {
    display: block;
    transition: 0.3s ease-out;
    min-height: 50px;
}

.products-right {
    width: 80%;
    padding: 0 20px;
}

/* Custom radio button */
.custom-radio {
    display: block;
    position: relative;
    font-size: 14px;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    color: #777777;
    font-weight: 500;
    padding-top: 25px;
}

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 25px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #eee;
}

.custom-radio:hover input~.checkmark {
    background-color: #ccc;
}

.custom-radio input:checked~.checkmark {
    background-color: #3577f0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-radio input:checked~.checkmark:after {
    display: block;
}

.custom-radio .checkmark:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.sort-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
    font-size: 16px;
}

.sort-box .showing {
    margin: 0 20px 0 10px;
}

.product-filter {
    display: block;
    color: #27272E;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #CBD3D9;
    padding: 10px 15px;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 30px;
}

.all-products .product-item {
    width: 33.333333%;
    margin: 20px 0;
}

.all-products .product-item .product-img {
    width: 100%;
    max-height: 100%;
}

.product-item .product-img img {
    object-fit: scale-down;
}

.all-products .product-item .discount {
    right: 10px;
}

@media only screen and (max-width: 991px) {
    .campaign-bg .image-swiper-button-prev {
        left: 0;
    }

    .products-left {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .products-left .product-category {
        width: 48%;
    }

    .campaign-bg .image-swiper-button-next {
        right: 0;
    }

    .all-products {
        padding: 0;
    }

    .products-item {
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }

    .products-item .sort-box {
        justify-content: center;
    }

    .products-item .showing,
    .products-item .filter-box {
        margin: 10px;
    }

    .products-item .product-item {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .products-left .product-category {
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 991px) {
    .products-item .sort-box {
        justify-content: space-between;
    }

    .products-item .product-item {
        width: 49%;
    }
}